doctype html
html
  head
    title Blocklist Checker
    link(rel='stylesheet', href='/css/global.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    block content

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/blockchecker.js')
