html, body {
  background-color: none;
  height: 100%;
  color: #fff;
}

body {
  background-image: url(/images/bg.jpg);
}

.header {
  text-align: center;
  padding-bottom: 30px;
}

a.logo {
  display: inline-block;
}

a {
  transition: color 0.3s;
  color: #F05940;
  font-weight: 600;
}

a:hover {
  color: #CB4B36;
  text-decoration: none;
}

.results {
  padding-top: 30px;
}

.results > p.blocked {
  font-weight: bold;
}

.tool {
  min-height: 240px !important;
  padding-top: 50px;
}

.container {
  padding-top: 50px;
  background-color: #fff;
  background-image: none;
  min-height: 100%;
}

.tool .btn {
  border: none;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  padding: 18px 40px;
  background: #F05940;
  transition: background 0.3s;
}

.tool .btn:hover {
  background: #CB4B36;
}

input.form-control {
  padding: 17px; height: auto;
}

.form-control {
  border-radius: 0;
  border: none;
  background: #fff;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: transparent;
}
