html, body {
  background-color: #F0F8FF !important;
  height: 100%;
}
body{
  background: url(http://codemancystudio.com/dev/vlada/lfg/images/home/s-bg.jpg) no-repeat center center;
}

.header {
  text-align: center;
  padding-bottom: 30px;
}

.results {
  padding-top: 40px;
}

.results > p.blocked {
  font-weight: bold;
}

.tool {
  height: 240px;
  padding: 50px 0px;
}

.container {
  padding-top: 50px;
  background-color: #fff;
  min-height: 100%;
}
