html, body {
  background-color: none;
  height: 100%;
  color: #fff;
}
body{
  background-image: url(http://codemancystudio.com/dev/vlada/lfg/images/home/s-bg.jpg) no-repeat center center;
}

.header {
  text-align: center;
  padding-bottom: 30px;
}

.results {
  padding-top: 40px;
}

.results > p.blocked {
  font-weight: bold;
}

.tool {
  height: 240px;
  padding: 50px 0px;
}

.container {
  padding-top: 50px;
  background-color: none;
  min-height: 100%;
}

.input-group input, .input-group-btn:last-child > .btn {border: none; color: #fff; border-radius: 0; box-shadow: none;}
.input-group input {padding: 17px;}
.input-group-btn:last-child > .btn {padding: 17px 40px;}

.btn.btn-default {background: #F05940;}
.btn.btn-default:hover {background: #CB4B36;}